// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-icons/font/bootstrap-icons.css';

main {
    .trains-wrapper-list {
        border-left: 1px solid black;
        border-right: 1px solid black;
        li {
            width: 100%;
        }
        .border-top-li {
            border-top: 1px solid black;
        }
        .border-bottom-li {
            border-bottom: 1px solid black;
        }

        button  {
            background-color: rgb(51, 169, 51);
            border: none;
            border-radius: 10px;
            a {
                color: black;
                text-decoration: none;
            }
        }
    }

    .train-card-wrapper {
        .logo-azienda {
            background-color: red;
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            padding:1rem 0;
            border-radius: 10px;
        }
    }
}
